<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <!--以下打开aspNetCore自带的日志系统-->
      <aspNetCore processPath=".\教与学_本机版_YuQin_DotNetCore21.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
      <!--<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" -->
      
    </system.webServer>
  </location>
  <!-- Add the following handler settings to the app's web.config file to enable ASP.NET Core Module debug log:-->
  <aspNetCore>
    <handlerSettings>
      <handlerSetting name="debugLevel" value="file" />
      <handlerSetting name="debugFile" value="d:\temp\ancm.log" />
    </handlerSettings>
  </aspNetCore>
</configuration>
<!--ProjectGuid: 08c79c33-2019-48ff-b2df-60f39ffc7228-->
<!--自己探究而从发布结果中拷贝过来的！！！如果出问题，请从项目中排除！！！-->